<div *ngIf="lugar">
  <h3>
    <a [title]="lugar.nome + ' details'"
       [routerLink]="['/lugares-view', index]">
      {{ lugar.nome }}
    </a>
  </h3>

  <p>
    <img [src]="lugar.imagemUrl" style="width: 200px;"/>
  </p>

  <p>
    <b>Endereço:</b> {{ lugar.endereco }}
  </p>

  <p>
    <b>Horário de Funcionamento:</b> {{ lugar.horarioInicio }}h - {{ lugar.horarioFim }}h
  </p>

  <p>
    <b>Valor Disponível para Consumo:</b> {{ lugar.valorDisponivel | currency:'BRL':'symbol-narrow' }}
  </p>

  <button (click)="toogleMap()">
    Exibir/Ocultar Mapa
  </button>

  <br>
  <br>

  <!--
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=Space+Needle,Seattle+WA" allowfullscreen>
  </iframe>
  -->

  <iframe
    *ngIf="exibirMapa"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.7597906651044!2d-46.70872338538357!3d-23.57706916805682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce570176e1ec91%3A0x9056072f0cd5869!2sAv.%20Morumbi%2C%20200%20-%20Morumbi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005606-010!5e0!3m2!1spt-BR!2sbr!4v1586910642328!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>
